.sort {
  margin-left: 12rem;
  font-weight: bold;
}

.text {
  font-weight: bold;
}

.tele {
  font-weight: bold;
}

.bottom-input {
  position: fixed;
  bottom: 5;
}

.overflow {
  width: 100%;
  height: 560px;
  background-color: #fafafa;
  padding: 20px;
  overflow-y: scroll;
}

.overflow-2 {
  width: 100%;
  height: 270px;
  padding: 20px;
  overflow-y: scroll;
}
